@font-face {
  font-family: "Nexa";
  src: "./Nexa Bold.otf";
}
body {
  background-color: #0160ad;
}
canvas {
  width:  1440px;
  height: 810px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

@media (max-width: 1000px) {
  canvas {
    width: 960px;
    height: 540px;
  }
}

@media (max-width: 600px) {
  canvas {
    width: 480px;
    height: 270px;
  }
}

